.analytics-event-page {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.search-iconn {
    font-size: 18px;
    color: #646363;
    margin-right: 10px;
}


.listt-tablee {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow-y: auto;
}

.list-table-formatt {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid #e0e0e0;
}



.list-table-formatt.title {
    background-color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
    color: tomato;
}

.list-table-formatt p {
    color: #050d4f;
    font-weight: bold;

}

.new-tit {
    text-align: left;
    margin-left: 20px;
}